.eventsAttending{
  // display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;

  div{
    width: 30%;
    margin: 1.6%;
    padding: 15px;
    color: #F7FFFB;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    background-color: gray;
    background-blend-mode: multiply;
    transition: background-color 0.5s ease;
    div:hover {
      background-color: gray;
    }
  }
}
