.inactive {
  display: none;
}

.loginForm{
  margin: 0 auto;
  width: 40%;
  height: 400px;
  background-color: lightgray;
  visibility: center;
  .tryAgain {
    text-align: center;
    color: red;
  }
}
