
ul {
  display: flex;
  list-style: none;
  justify-content: center;
  li {
    display:flex;
    padding:2% 8%;
    width: 100%;
  }

}


.mainContainer {
  // width: 85%;
  flex-wrap: wrap;
  justify-content: space-around;;
}
