.searchContainer{
  // display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;

  div{
    height: 266px;
    width: 400px;
    margin-bottom: 4%;
      .fa{
        position: relative;
        top: -185px;
        color: red;
        font-size: 51px;
        left: 332px;
      }
  }
}
