@import "_loginPage.scss";
@import "_mainContainerPage.scss";
@import "_searchPage.scss";
@import "_userProfilePage.scss";
@import "_eventsAttendingPage.scss";
@import "_createEvent.scss";

.active{
  display: flex;


}

button {
  border: none;
  border-radius:5px solid #282835;
  background-color: #4D95CC;
  padding:2px;
}

section{
  width: 85%;
  display: none;
  // flex: 0 1 100%;
  // justify-content: center;
}

body>div {
  display: none;
}

* {
  font-family: Ubuntu;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  textarea:focus, input:focus{
    outline: none;
  }
}

body {
    // background-color: #F7FFFB;
}

.party{
  background-image: url('https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7f27ee4116060e36d863593021bb6cbf');
  background-size: 100%;
    background-repeat: no-repeat;
}

.yardsale{
  background-image: url('http://travelaway.me/wp-content/uploads/2012/06/Rome-flea-market.jpg');
  background-size: 100%;
    background-repeat: no-repeat;
}

.book_club{
  background-image: url('https://images.unsplash.com/photo-1445445290350-18a3b86e0b5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=94a520f6f1b84339a66edd8162d429ed');
  background-size: 100%;
  background-repeat: no-repeat;
}

.concert{
  background-image: url('https://images.unsplash.com/46/unsplash_52c319226cefb_1.JPG?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275');
  background-size: 120%;
    background-repeat: no-repeat;
}

.sports{
  background-image: url('https://images.unsplash.com/photo-1417716226287-2f8cd2e80274?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275');
  background-size: 120%;
    background-repeat: no-repeat;
}
