.login {
  justify-content: center; }
  .login .loginForm {
    display: flex;
    background-color: #4D95CC;
    border-radius: 5px;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 30%;
    box-shadow: 0px 2px 5px #282835; }
    .login .loginForm h1 {
      color: #CEFF6D;
      padding: 20px;
      font-size: 35px;
      font-weight: 800;
      display: flex; }
    .login .loginForm p {
      display: none;
      color: #FFB56B; }
      .login .loginForm p span {
        color: #CEFF6D;
        font-weight: 800; }
    .login .loginForm .show {
      display: block; }
    .login .loginForm input {
      background-color: #F7FFFB;
      color: #282835;
      width: 85%;
      margin-top: 15px;
      font-size: 20px;
      border-radius: 5px; }
    .login .loginForm input[type="submit"] {
      padding: 2px;
      background-color: #FFB56B;
      width: inherit;
      border: none;
      box-shadow: 0px 2px 3px #282835; }

header {
  flex: auto;
  background-color: #4D95CC;
  padding: 0 10px; }
  header nav {
    display: flex; }
    header nav ul {
      display: flex;
      list-style: none;
      justify-content: flex-start; }
      header nav ul .navli {
        color: #F7FFFB;
        padding: 20px;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        transition: color 0.5s ease; }
      header nav ul .navli:hover {
        color: #FFB56B; }
      header nav ul span {
        color: #CEFF6D;
        padding: 20px;
        font-size: 24px;
        font-weight: 700;
        display: flex; }
    header nav .right {
      display: flex;
      flex: auto;
      list-style: none;
      justify-content: flex-end; }
      header nav .right li {
        justify-content: flex-end;
        color: #F7FFFB;
        padding: 20px;
        font-size: 24px;
        font-weight: 700;
        transition: color 0.5s ease; }
      header nav .right li:hover {
        color: #FFB56B; }

.mainContainer {
  background-color: #F7FFFB;
  flex-wrap: wrap;
  justify-content: space-around; }

.searchContainer {
  flex-wrap: wrap; }
  .searchContainer div {
    width: 30%;
    margin: 1.6%;
    padding: 15px;
    color: #F7FFFB;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    background-color: gray;
    background-blend-mode: multiply;
    transition: background-color 0.5s ease; }
    .searchContainer div div:hover {
      background-color: gray; }

.userProfile {
  flex-wrap: wrap; }
  .userProfile div {
    width: 30%;
    margin: 1.6%;
    padding: 15px;
    color: #F7FFFB;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    background-color: gray;
    background-blend-mode: multiply; }

.eventsAttending {
  flex-wrap: wrap; }
  .eventsAttending div {
    width: 30%;
    margin: 1.6%;
    padding: 15px;
    color: #F7FFFB;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    background-color: gray;
    background-blend-mode: multiply;
    transition: background-color 0.5s ease; }
    .eventsAttending div div:hover {
      background-color: gray; }

.createForm {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-around; }
  .createForm input, .createForm select {
    margin-top: 35px;
    width: 40%;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 6px; }
  .createForm input[type="submit"] {
    padding: 2px;
    background-color: #FFB56B;
    border: none;
    box-shadow: 0px 2px 3px #282835; }

.active {
  display: flex; }

button {
  border: none;
  border-radius: 5px solid #282835;
  background-color: #4D95CC;
  padding: 2px; }

section {
  width: 85%;
  display: none; }

body > div {
  display: none; }

* {
  font-family: Ubuntu;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * textarea:focus, * input:focus {
    outline: none; }

.party {
  background-image: url("https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7f27ee4116060e36d863593021bb6cbf");
  background-size: 100%;
  background-repeat: no-repeat; }

.yardsale {
  background-image: url("http://travelaway.me/wp-content/uploads/2012/06/Rome-flea-market.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

.book_club {
  background-image: url("https://images.unsplash.com/photo-1445445290350-18a3b86e0b5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=94a520f6f1b84339a66edd8162d429ed");
  background-size: 100%;
  background-repeat: no-repeat; }

.concert {
  background-image: url("https://images.unsplash.com/46/unsplash_52c319226cefb_1.JPG?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275");
  background-size: 120%;
  background-repeat: no-repeat; }

.sports {
  background-image: url("https://images.unsplash.com/photo-1417716226287-2f8cd2e80274?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275");
  background-size: 120%;
  background-repeat: no-repeat; }
