.login {
  justify-content: center; }
  .login .loginForm {
    justify-content: center; }

ul {
  display: flex;
  list-style: none;
  justify-content: center; }
  ul li {
    display: flex;
    padding: 2% 8%;
    width: 100%; }

.mainContainer {
  flex-wrap: wrap;
  justify-content: space-around; }

.searchContainer {
  flex-wrap: wrap; }
  .searchContainer div {
    width: 30%;
    margin: 1.6%;
    padding: 10px;
    color: white; }
    .searchContainer div .fa {
      position: relative;
      top: -185px;
      color: red;
      font-size: 51px;
      left: 332px; }

.userProfile {
  flex-wrap: wrap; }
  .userProfile div {
    width: 30%;
    margin: 1.6%;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px #ff0000; }

.active {
  display: flex; }

section {
  width: 85%;
  display: none; }

body > div {
  display: none; }

* {
  box-sizing: border-box; }

.party {
  background-image: url("https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7f27ee4116060e36d863593021bb6cbf");
  background-size: 100%;
  background-repeat: no-repeat; }

.redneck_yardsale {
  background-image: url("how-to-have-a-yard-sale.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

.book_club {
  background-image: url("https://images.unsplash.com/photo-1445445290350-18a3b86e0b5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=94a520f6f1b84339a66edd8162d429ed");
  background-size: 100%;
  background-repeat: no-repeat; }

.RAVE {
  background-image: url("https://images.unsplash.com/photo-1429514513361-8fa32282fd5f?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275");
  background-size: 150%;
  background-repeat: no-repeat; }

.sports {
  background-image: url("http://images.performgroup.com/di/library/omnisport/72/37/stephencurry410gettyus_argftwmm8jhr1gb2q5e5gt5fc.jpg?t=-1588522764");
  background-size: 100%;
  background-repeat: no-repeat; }
